@{
    ViewData["Title"] = "Home Page";
}

@model List<PDPDay3View.Models.Item>
<div class="row ">
    <div class="col-3">
        @await Html.PartialAsync("_MenuPartialView")
    </div>
    <div class="col-9">
        <div class="bg-primary text-white h5 rounded text-left p-2 mt-3">Sản phẩm mới nhất</div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm-4">
                    <div class="card h-100">
                        <img src="@item.Img" alt="Alternate Text" />
                        <div class="text-black card-body text-center">
                            <p class="h5">@item.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @await Component.InvokeAsync("HotItem")
    </div>
</div>
