@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="https://farm66.staticflickr.com/65535/54347166926_a55df2b87e_o.jpg/500x300" class="img-fluid rounded shadow" alt="Our Team">
        </div>
        <div class="col-md-6">
            <h2 class="display-5 text-primary">Who We Are</h2>
            <p class="lead text-muted">
                We are a passionate team of developers, designers, and strategists committed to delivering high-quality digital solutions.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">✔️ Experienced developers</li>
                <li class="list-group-item">✔️ User-centered design</li>
                <li class="list-group-item">✔️ Agile & collaborative approach</li>
            </ul>
        </div>
    </div>
</div>