@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar p-1 bg-primary rounded mt-3">
    <div class="bg-primary text-white h5 rounded text-left p-2 ">Danh mục sản phẩm</div>
    <ul class="list-group bg-white ">
        <li class="list-group-item">Áo dài</li>
        <li class="list-group-item">Áo đông</li>
        <li class="list-group-item">Túi xách</li>
        <li class="list-group-item">Đồng hồ</li>
        <li class="list-group-item">Ví da</li>
        <li class="list-group-item">Thắt lưng da</li>
        <li class="list-group-item">Tủ lạnh</li>
        <li class="list-group-item">Ti vi</li>
        <li class="list-group-item">Quạt điện</li>
        <li class="list-group-item">Lò sưởi</li>
    </ul>
</div>
<img class="img-fluid ad-banner w-100 rounded mt-3" src="image/banner.jpeg" alt="Banner" />